<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duan.musicoco">

    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!--屏幕常亮-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.duan.musicoco.permission.ACCESS_PLAY_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <permission
        android:name="com.duan.musicoco.permission.ACCESS_PLAY_SERVICE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/musicoco_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".app.RootActivity" />

        <!--为 activity 开启硬件加速-->
        <activity
            android:name=".play.PlayActivity"
            android:theme="@style/AppThemePlay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.PlayService"
            android:permission="com.duan.musicoco.permission.ACCESS_PLAY_SERVICE"
            android:process=":playService">
            <intent-filter>
                <action android:name="com.duan.musicoco.action.PLAY_SERVICE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>

    </application>

</manifest>